body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  background: #131417;
  width: 100vw;
  max-width: 100%;
}

code {
  font-family: 'Merriweather Sans', sans-serif;
}


.controls-wrapper{
  height: 10vh;
  text-align: center;
}